body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/* intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%; 
    height:100vh;
    
    background: url("../img/intro2.jpg") center no-repeat ;
    background-size: cover; 
  	background-position:center center;
	
}
.intro__inner{
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    text-align: left;
}
.intro__title{
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
}
.intro__subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    max-width: 350px;
    color: rgb(121, 119, 119);
    margin-top: 10px;
 }



/* Header */
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.header__inner{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    
    color: black;
    font-size: 24px ;
    
 }

.phone{
    display: flex;
    color: rgb(121, 119, 119);
    font-size: 18px;
    font-weight: normal;
    /* justify-content: space-around; */
    margin-left: 100px;
    margin-top: -25px;
}

.header__logo span{
    color: red;
    font-size: 30px
 }



/* Nav*/
.nav {
    
    text-transform: uppercase;
    font-weight: bold;
}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color:white;
    font-size: 18px;
    text-decoration: none;
    transition: color .1s linear ;
    font-weight: inherit;
    text-transform: uppercase;
    position: relative;
}

.nav__link:after {
    display: block;
    background-color: #fff;
    position: absolute;
}

.nav__link:hover {
    color:rgb(129, 129, 129);
    font-size: 19px; 
}
/*
.nav__link: hover: after {
    display: block; 
} 
*/

/*SECTION*/

.section{
    width: 100%;
    height: 500px;
    
    
    
}
                    /* FLY */
.section__fly{
    display: flex;    
    flex-direction: row;
   /* justify-content: flex-start; */
    height: 614px;
    

}
.tap{
    width: 800px;
    
    text-align: center;
    
    
    background: url("../img/left_drone.jpg") no-repeat ;
}
.fly__title{
    font-size: 40px;
    font-weight: 700;
    margin: 50% auto 5px;
}
.fly__subtitle{
    font-size: 13px;
    font-weight: 400;
    color: gray;
    margin: 0 auto;
}
.box__shd{
    background-color: rgb(0, 0, 0);
    width: 418px;
    height: 100%;
    opacity: 0.7;
    
    
} 
.box__text{
    
    
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    
}

.fly__higher{
    width: 100%;
    
    
    background: url("../img/river.jpg") no-repeat ;
}